<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string><%= label.to_s %></string> 
    <key>WorkingDirectory</key>
    <string><%= ENV["PROJECT_DIR"] %></string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><%= ENV["SHORT_PATH"] %></string>
      <key>GEM_PATH</key>
      <string><%= ENV["GEM_PATH"] %></string>
      <key>RUN_LOCAL_PORT</key>
      <string><%= ENV["RUN_LOCAL_PORT"] %></string>
      <key>PORT</key>
      <string><%= ENV["RUN_LOCAL_PORT"] %></string>
      <%= commented["site_name"] ? "<!--" : "" %>
      <key>SITE_NAME</key>
      <string><%= ENV["SITE_NAME"] %></string>
      <%= commented["site_name"] ? "-->" : "" %>

      <%= commented["database_url"] ? "<!--" : "" %>
      <key>DB_APP</key>
      <string><%= ENV["DB_APP"] %></string>
      <%= commented["db_app"] ? "-->" : "" %>
      <%= commented["database_url"] ? "<!--" : "" %>
      <key>DATABASE_URL</key>
      <string><%= ENV["DATABASE_URL"] %></string>
      <%= commented["database_url"] ? "-->" : "" %>
    </dict>

    <key>ProgramArguments</key>
    <array>
      <string>bundle</string>
      <string>exec</string>
      <string>puma</string>
      <string>--config</string>
      <string><%= ENV["PUMA_CONFIG"] %></string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardInPath</key>
    <string>log/stdin.log</string>
    <key>StandardOutPath</key>
    <string>log/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>log/stderr.log</string>
  </dict>
</plist>