<%= commented["redistogo_url_port"] ? "#" : "" %>redistogo_url: "redis://localhost:<%= redistogo_url_port %>"
<%= commented["database_user"] ? "#" : "" %>database_url: "postgres://<%= database_user %>@localhost/<% database_name %>"
<%= commented["github_token"] ? "#" : "" %>github_token: 
<%= commented["bitbucket_token"] ? "#" : "" %>bitbucket_token: 
<%= commented["heroku_user"] ? "#" : "" %>heroku_user: 
<%= commented["iam_user"] ? "#" : "" %>iam_user: 
<%= commented["amazon_access_key"] ? "#" : "" %>amazon_access_key: 
<%= commented["amazon_access_key_id"] ? "#" : "" %>amazon_access_key_id: 
<%= commented["amazon_secret_access_key"] ? "#" : "" %>amazon_secret_access_key: 