<%= commented["site_name"] ? "#" : "" %>site_name: <%= site_name %>
<%= commented["site_name_short"] ? "#" : "" %>site_name_short: <%= site_name_short %>
<%= commented["site_url"] ? "#" : "" %>site_url: <%= site_url %>
site_url_with_protocol: "https://<%= site_url %>"
<%= commented["staging_site_url"] ? "#" : "" %>staging_site_url: 
<%= commented["site_description"] ? "#" : "" %>site_description: 
<%= commented["tracking_code"] ? "#" : "" %>tracking_code:
static_local_port: <%= static_local_port %>
reverse_domain: <%= reverse_domain %>
project_name: <%= project_name %>
project_dir: <%= project_dir %>
short_path: <%= short_path %>
gem_path: <%= gem_path %>
run_local_port: <%= run_local_port %>
puma_config: <%= puma_config %>