revoke connect on database "<%= name %>" from public;

grant connect
on database "<%= name %>" 
to "<%= role %>";

alter default privileges 
    for role "<%= role %>"
    in schema public
    grant select, insert, update, delete on tables to "<%= role %>";

GRANT SELECT, INSERT, UPDATE, DELETE
ON ALL TABLES IN SCHEMA public 
TO "<%= role %>";

grant usage on all sequences in schema public to "<%= role %>";